.header-skills {
    transition: ease-in-out 0.3s;
}

.header-skills:hover {
    transform: scale(110%);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slideDown {
    animation: slideDown 0.4s ease-out forwards;
}
